<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrossPFramework copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CrossPFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>683309801A16F20700EDC895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683309901A16F20800EDC895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683309AC1A16F27E00EDC895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683309BA1A16F2DD00EDC895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
